<h1>Gestion des utilisateurs</h1>
<h2>Ajouter un utilisateur</h2>

<!--Template driven forms-->

<form #f="ngForm" (ngSubmit)="addUser(f)" >
  <div class="mb-3">
    <label for="name" class="form-label">Name *</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      #name
      ngModel
      required
      #n="ngModel">
    <div
      *ngIf="n.invalid && n.touched"
      class="error">
        Le champ name est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label
      for="password"
      class="form-label">
        Password *
      </label>
    <input
      type="text"
      class="form-control"
      id="password"
      name="password"
      #password
      ngModel
      required
      #p="ngModel">
      <div
      *ngIf="p.invalid && p.touched"
      class="error">
        Le champ Password est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email *</label>
    <input type="text" class="form-control" id="email" name="email" #prix ngModel required
    #e="ngModel">
    <div
      *ngIf="e.invalid && e.touched"
      class="error">
        Le champ Email est obligatoire!
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="f.invalid" >Valider</button>
</form>


